/* Global Styles */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}

.bth-github:hover {
  color: var(github);
  background-color: var(--white);
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.sub-title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: var(--white);
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  text-decoration: none;
}

.navbar--items ul > li > a {
  text-decoration: none;
}

.navbar--content {
  color: var(--darkblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.navbar--active-content {
  color: var(--primary);
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 10px;
    justify-content: flex-start;
  }

  .navbar--items {
    margin-right: 10px;
  }
  .navbar--items > ul {
    gap: 13px;
    flex-direction: row;
    margin-right: 5px;
    padding-left: 0px;
  }
  .btn {
    padding: 2px 5px;
    font-size: 14px;
  }
  .navbar--content {
    font-size: 13px;
  }
}

/* Hero section */

.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 85px 100px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.hero--section--content--box > button {
  margin-top: 21px;
}

.hero--section--title {
  color: var(--heading-color);
  font-size: 74px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

h1 {
  font-size: 75px;
  line-height: 85px;
}
.hero--section--title--color {
  color: var(--primary);
}

.hero--section--description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--section--img > img {
  width: 80%;
  max-width: 500px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .hero--section {
    grid-template-columns: 1fr;
    padding: 50px 20px;
  }
  p.section--title {
    font-size: 20px;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 43px;
    line-height: 45px;
  }
  .hero--section--content {
    padding-top: 50px;
  }
  p.hero--section-description {
    font-size: 12px;
  }
  .contact--link--icons {
    width: 70%;
  }

  .contact--link--icons img[src*="linkedinIcon"] {
    width: 30px;
    height: 30px;
  }

  .contact--link--icons img[src*="githubIcon"],
  .contact--link--icons img[src*="gmailIcon"] {
    width: 25px;
    height: 25px;
  }
  .btn {
    padding: 8px;
  }

  .hero--section--img img {
    margin: 0 auto;
    width: 70%;
  }
}

/* skills section */

.skills--section {
  display: flex;
  padding: 120px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.skills--section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.skills--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.6px;
  grid-template-columns: repeat(3, 1fr);
}

.skills--section--card {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 10.6px;
  background: var(--bg-shade);
  min-height: 250px;
}

.skills--section--card:hover {
  border-bottom: 4px solid var(--primary);
}
.skills--section--card:hover .skills--section--description {
  color: var(--darkblue);
}

.skills--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  border-radius: 10.6px;
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.skills--section--title {
  color: var(--heading-color);
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}

.skills--section--description {
  color: var(--black);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.skills--icon-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
  align-items: center;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto;
  width: fit-content; */
  /* overflow: hidden; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 80px;
  background-color: rgb(248, 248, 248);
  padding: 10px;
  border: 1px rgb(207, 207, 207) solid;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
    -3px -3px 7px rgba(255, 255, 255, 0.7);
  /* transform: rotateX(5deg) rotateY(-5deg); */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
  .skills--section--container {
    /* grid-template-columns: 1fr; */
    display:block; 
    margin: 0 auto;
    padding: 50px 0px;
  }
  .skills--section--card {
    margin: 10px;
  }
  
}

@media only screen and (max-width: 600px) {
  .skills--icon-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: -60px;
    /* margin-left: auto;
    margin-right: auto;
    width: fit-content; */
  }
  .grid-item img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 45px;
    background-color: rgb(248, 248, 248);
    padding: 8px;
    border: 1px rgb(207, 207, 207) solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
      -3px -3px 7px rgba(255, 255, 255, 0.7);
  }

  .grid-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .skills--section--heading {
    font-size: 40px;
    margin-top: -20px;
  }
  .skills--section {
    padding: 60px 20px;
    gap: 40px;
  }

  .skills--section--card {
    padding: 16px;
    gap: 25px;
    min-height: 0px;
  }

  .skills--section--img {
    padding: 5px;
    gap: 5px;
  }

  .skills--section--container {
    margin-top: -80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skills--section--card--content {
    gap: 3px;
  }

  .skills--section--title {
    font-size: 18px;
  }

  .skills--section--description {
    font-size: 14px;
    line-height: 25px;
  }
}



@media only screen and (min-width: 1400px) {
  .skills--icon-container {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    /* margin-left: auto;
    margin-right: auto;
    width: fit-content; */
  }
}

/* About me */

.about--section {
  display: grid;
  padding: 40px 95px;
  align-items: center;
  gap: 70px;
  grid-template-columns: repeat(2, 1fr);
}

.about--section--img > img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .about--section {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 50px 30px;
    gap: 50px;
    background-color: rgb(244, 234, 234);
  }

  .about--section--img {
    display: none;
  }
}

/* portfolio */

.portfolio--section {
  display: flex;
  padding: 75px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.section--heading {
  font-size: 64px;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}

.sub--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}

.portfolio--section--img > img {
  width: 100%;
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.portfolio--section--title {
  color: var(--heading-color);
  padding-bottom: 5px;
}

.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary) !important;
  padding-bottom: 10.6px;
  font-weight: 600;
}

.portfolio--link:visited {
  text-decoration: none;
  color: inherit;
}

.portfolio--section--card:hover path {
  stroke: #006b68;
}

@media only screen and (max-width: 768px) {
  .portfolio--section {
    padding: 50px 20px;
    gap: 40px;
  }

  .portfolio--container-box {
    align-items: left;
    flex-direction: start;
    gap: 0px;
  }

  .sub--title {
    font-size: 20px;
  }

  .section--heading {
    font-size: 43px;
    line-height: 50px;
  }

  .btn-github {
    padding: 10px;
    font-size: 13px;
    margin-top: 100px;
    width: 110px;
  }
  .portfolio--section--container {
    flex-direction: column;
  }
}

/* contact */

.contact--section {
  display: flex;
  padding: 150px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
}

.sub--title2 {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@media only screen and (max-width: 768px) {
  .contact--section {
    padding: 13px 30px 30px 30px;
    gap: 20px;
  }

  .sub--title2 {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  p.text-lg {
    font-size: 16px;
  }
}

/* portfolio section  */

/* heading  */

/* @media only screen and (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 16px;
    }
} */

/* testimonial */

/* .testimonial--section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}
.sections--heading {
  color: var(--heading-color);
}
.testimonial--section--card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}
.testimonial--section--card--reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial--section--card--author--detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial--author--name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial--author--designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
} */
